#title {
	font-weight: 700;
	font-size: 48px;
	color: rgba(48, 203, 194, 1);
	margin-top: 54px;
	margin-left: 63px;
}

#active{
    font-weight: 700;
    font-size: 26px;
    color: rgba(78, 111, 174, 1);
    margin-top: 66px;
    margin-left: 60px;
    text-decoration: none;
}

#yep {
	margin-left: 81px;
}

nav {
	display: flex;
}

a {
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	color: rgba(141, 129, 255, 1);
	margin-top: 66px;
	margin-left: 87px;
}

#img {
	width: 1052px;
	height: 462px;
	margin-left: 194px;
	margin-top: 97px;
}

#news {
	font-weight: 700;
	font-size: 26px;
	color: rgba(78, 111, 174, 1);
	margin-left: 194px;
}

#text {
	font-weight: 400;
	font-size: 26px;
	color: rgba(78, 111, 174, 1);
}

#line {
	width: 2px;
	height: 24px;
    background-color: rgba(80, 18, 213, 1);
    display: inline-block;
    margin:0 41px;
}

#idk {
	display: flex;
	align-items: center;
}

.child {
	width: 500px;
	height: 192px;
	background-color: rgba(231, 231, 231, 1);
	display: inline-block;
	vertical-align: bottom;
}

.second {
	margin-left: 52px;
}

.first {
	margin-left: 194px;
}

.img {
	width: 77px;
	height: 77px;
	margin-left: 36px;
	margin-top: 29px;
	margin-bottom: 41px;
}
#what {
    color: rgba(63, 65, 69, 1);
    font-weight: 400;
    font-size: 20px;
    margin-left: 23px;
    margin-top: 21px;
}

p {
	font-weight: 400;
	font-size: 16px;
	color: rgba(126, 136, 152, 1);
	margin-left: 37px;
	margin-top: 20px;
}

#first-text {
	display: flex;
	margin-top: 20px;
}

#youtube {
	width: 71px;
	height: 48px;
	margin-left: 14px;
}

#facebook {
	margin-left: 194px;
	width: 50px;
	height: 50px;
	margin-right:14px;
}

.line {
	width: 2px;
	height: 48px;
    background-color: rgba(80, 18, 213, 1);
    display: inline-block;
    margin:0 41px;
}